.addUser {
  margin: 50px 30% 0 30%;
  width: 40%;
}
.addBtn {
  width: 80px;
 margin-top: 15px;
  height: 24px;
  cursor: pointer;
  border: 3px solid #bf286a;
  border-radius: 10px;
  background-color: white;
 margin-left: 80%;
}
.addBtn:hover{
    background-color:#bf286a;
    color: white;
}